@import "tailwindcss";
@plugin "daisyui";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *))
@theme {
  --font-display: 'Inter', 'sans-serif'
  --color-primary: #463581;
  --color-backgroundDark: #141122;
}